<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="order_show">
	<p>
	  <strong>Name:</strong>
	  <%= @order_db["name"] %>, =>
	  <strong>Order number</strong> 
	  <%= @order_db["id"] %>
	</p>

	<p>
	  <strong>Address:</strong>
	  <%= @order_db["address"] %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @order_db["email"] %>
	</p>

	<p>
	  <strong>Pay type:</strong>
	  <%= @order.pay_type.pay_name %>
	</p></br>
	<h2>Order contens</h2>
	<table class="table_order">
		<thead>
			<tr>
				<th>Number</th>
				<th>Product name</th>
				<th>Price</th>
				<th>Count</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @order.line_items.each do |item| %>
				<tr>
					<td><%= %></td>
					<td><%= item.product.title %></td>
					<td><%= number_to_currency(item.product.price) %></td>
					<td><%= item.quantity %></td>
					<td><%= number_to_currency(item.total_price) %></td>
				</tr>
			<% end %>
			<% if @order.ship_date? %>
				<tr>
					<td></td>
					<td></td>
					<td colspan="2"><h3>Sent</h3></td>
					<td><%= tag.time l(@order.ship_date, format: :long) %></td>
				</tr>
			<% end %>
			<tr class="total_line">
				<td></td>
				<td></td>
				<td></td>
				<td colspan="2">Total</td>
				<td class="total_cell"><%= number_to_currency(@order.line_items.to_a.sum { |item| item.total_price }) %></td>	
				<% unless @order.ship_date? %>
					<%= form_with(model: @order, local: true) do |form| %>
						<td>
							<%= form.label :ship_date, autocomplete: :on %><br>
    						<%= date_field("order", "ship_date") %>
    						<%= form.button 'Sent' %>    						
						</td>
					<% end %>	
				<% end %>
			</tr>
		</tbody>		
	</table>	
</div>	

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
