<%= form_for :product, url: product_path(@product), method: :put do |p| %>
  <% if @product %>
    <% @product.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>

  <div class='field'>
    <%= p.label :title %><br>
    <%= p.text_field :title %>
  </div>
  <div class='field'>
    <%= p.label :description %><br>
    <%= p.text_area :description, rows: 6 %>
  </div>
  <div class='field'>
    <%= p.label :image_url %><br>
    <%= p.text_field :image_url %>
  </div>
  <div class='field'>
    <%= p.label :price %><br>
    <%= p.text_area :price %>
  </div>
  <div class='action'>
    <%= p.submit %>
  </div>
<% end %>

<%= link_to 'Back', products_path %>
