<h1>New Product</h1>

<%= form_for :product, url: products_path do |p| %>
  <% if @product.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@product.errors.count, 'error') %>
      prohibited this product from being saved: </h2>

      <ul>
        <%= @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= p.label :title %><br>
    <%= p.text_field :title %>
  </div>
  <div class='field'>
    <%= p.label :description %><br>
    <%= p.text_area :description, rows: 6 %>
  </div>
  <div class='field'>
    <%= p.label :image_url %><br>
    <%= p.text_field :image_url %>
  </div>
  <div class='field'>
    <%= p.label :price %><br>
    <%= p.text_area :price %>
  </div>
  <div class='action'>
    <%= p.submit %>
  </div>
<% end %>

<%= link_to 'Back', products_path %>
